body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: inline;
    height: 250px;
    width: 400px;
    background-color: #212121;
    text-align: center;
    color: #fff;
    margin-top: 200px;
    box-shadow: 0 0 20px rgba(22, 23, 23, 0.8), 0 0 40px rgba(85, 86, 86, 0.4);
    border-radius: 10%;
}

#dclock{
    display: inline;
    align-items: center;
    line-height: 150px;
    padding: 20px 50px;
    height: 300px;
    width: 100px;
    background-color: yellowgreen;
    box-shadow: 0 0 20px rgba(106, 129, 51, 0.8), 0 0 40px rgba(154, 240, 84, 0.8);
    border-radius: 10%;
    color: #212121;
    font-size: 40px;
}
